.md-grid {
  max-width: 1500px; 
}

.md-typeset li {
  font-size:0.9rem;
}

.md-typeset h1
 {
  
  font-size:1.05rem;
  color:var(--md-primary-fg-color--dark);
  line-height:1.2;
}

.md-typeset h2{
  font-size:1rem;
  color:var(--md-primary-fg-color--dark);
}
.md-typeset a{
  color:var(--md-primary-fg-color--dark); 
}
.md-typeset p{ 
  font-size:0.9rem;
}
.md-tabs__link {
  font-size:1rem;
  background-color: var(--md-primary-fg-color);
  color:var(--md-primary-fg-color--dark);

}

.md-tabs__link--active, .md-tabs__link:is(:focus,:hover) {
  color:var(--md-primary-fg-color--dark);
  opacity: 1;
}

.md-header{
  font-size:1rem;
  background-color: var(--md-primary-fg-color);
  color:var(--md-primary-fg-color--dark);
}


.md-header__ellipsis{
  background-color: var(--md-primary-fg-color);
}

.md-header__inner{
  background-color: var(--md-primary-fg-color);

}

.md-ellipsis{
  color:var(--md-primary-fg-color--dark);

}
.md-header--shadow{
  box-shadow: none;
}
.md-search__form{
 background-color: var(--md-primary-fg-color);
  
}

.md-footer{
  background-color: var(--md-primary-fg-color);

}

.md-footer-meta{
  background-color: var(--md-primary-fg-color);

}
.md-nav__item .md-nav__link--active {
  color: var(--md-primary-fg-color--light);
}

.md-tabs__inner {
  text-align:center;
}
.md-social{
margin:auto  auto;
}


path{
  color:var(--md-primary-fg-color--light);
  
}
/* for the rbm post */
.rbm{text-align: center;}
.rbm img{ width: 20rem; }


[data-md-color-scheme="light-scheme"] {
    --md-primary-fg-color:        rgba(255, 255, 255,0);
    --md-box-shadow-color: rgba(255,255,255,0.9);
    --md-primary-fg-color--light: rgba(0,0,0,1);
    --md-primary-fg-color--dark:  rgba(0,0,0,1);

    /* --md-footer-bg-color: {{ super() }}  */
  }



[data-md-color-scheme="slate"] {
  --md-primary-fg-color:        hsla(232,15%,21%,1);
  --md-box-shadow-color: hsla(232,15%,21%,0.9);
  --md-primary-fg-color--light: #FFFFFF;
  --md-primary-fg-color--dark:  #FFFFFF;

  /* --md-footer-bg-color: {{ super() }}  */
}
.enumerate-headings-plugin {
    filter: opacity(20%);
  }

@media only screen and (min-width: 76.25em) {
    .md-main__inner {
      max-width: 85%;
    }
    .md-sidebar--primary {
      left: 0;
    }
    .md-sidebar--secondary {
      right: 0;
      margin-left: 0;
      -webkit-transform: none;
      transform: none;   
    }
  }



    
    .swiper-container {        
      
        margin-top:10%;
        margin-left: 0.4%;
        z-index: 1;
        overflow:visible;
        min-height:500px;
    }
    

    .swiper-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        box-sizing: content-box;
        margin:auto auto;
    }
    
    .swiper-container-android .swiper-slide,
    .swiper-wrapper {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    

    
 
    
    .swiper-slide {
        -webkit-flex-shrink: 0;
        -ms-flex: 0 0 auto;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        position: relative
    }
    

  

  
    
    
    .swiper-container-3d {
        -webkit-perspective: 400px;
        -o-perspective: 400px;
        perspective: 400px
    }
    
    .swiper-container-3d .swiper-cube-shadow,
    .swiper-container-3d .swiper-slide,
    .swiper-container-3d .swiper-slide-shadow-bottom,
    .swiper-container-3d .swiper-slide-shadow-left,
    .swiper-container-3d .swiper-slide-shadow-right,
    .swiper-container-3d .swiper-slide-shadow-top,
    .swiper-container-3d .swiper-wrapper {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d
    }
    
    .swiper-container-3d .swiper-slide-shadow-bottom,
    .swiper-container-3d .swiper-slide-shadow-left,
    .swiper-container-3d .swiper-slide-shadow-right,
    .swiper-container-3d .swiper-slide-shadow-top {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 10;
    }
    
    h1>.enumerate-heading-plugin{
      display:none;
    }

    .swiper-container-coverflow .swiper-wrapper,
    .swiper-container-flip .swiper-wrapper {
        -ms-perspective: 1200px
    }
    
    .swiper-container-cube,
    .swiper-container-flip {
        overflow: visible
    }
    
    .swiper-container-cube .swiper-slide,
    .swiper-container-flip .swiper-slide {
        pointer-events: none;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        z-index: 1
    }
    
    .swiper-container-cube .swiper-slide .swiper-slide,
    .swiper-container-flip .swiper-slide .swiper-slide {
        pointer-events: none
    }
        
    .swiper-container {
        width: 100%;
        padding-bottom: 60px;
    }
    
    .swiper-slide{
      margin: auto 100px;      
       width: 300px;
        height: auto;
        padding: 0 15px;
    }
    .swiper-slide image {
        display: block;
        margin: auto;
        width: 80%;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    }
    
    .swiper-slide .slider-image .preview-icon {
        z-index: -2;
        width: calc(100% - 30px);
    }
    
    .swiper-slide.swiper-slide-active .slider-image:hover .preview-icon {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        z-index: 1;
    }
    
    .swiper-button-next,
    .swiper-button-prev{
      height: 5rem;
      width: 5rem;
      line-height: 5rem;
      background: var(--white);
      color: var(--black);
    }
    
    .swiper-button-next:hover,
    .swiper-button-prev:hover{
      background: var(--main-color);
      color: var(--white);
    }
    
    .swiper-button-next::after,
    .swiper-button-prev::after{
      font-size: 2rem;
    }
    
    /* Pagination */
    .swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10
}

.swiper-pagination.swiper-pagination-hidden {
    opacity: 0
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2
}

button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer
}

.swiper-pagination-white .swiper-pagination-bullet {
    background: #fff
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff
}

.swiper-pagination-white .swiper-pagination-bullet-active {
    background: #fff
}

.swiper-pagination-black .swiper-pagination-bullet-active {
    background: #000
}

.swiper-container-vertical>.swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0)
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 5px 0;
    display: block
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px
}

.swiper-pagination-progress {
    background: rgba(0, 0, 0, .25);
    position: absolute
}

.swiper-pagination-progress .swiper-pagination-progressbar {
    background: #007aff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: left top;
    transform-origin: left top
}

.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
    -webkit-transform-origin: right top;
    transform-origin: right top
}

.swiper-container-horizontal>.swiper-pagination-progress {
    width: 100%;
    height: 4px;
    left: 0;
    top: 0
}

.swiper-container-vertical>.swiper-pagination-progress {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0
}

.swiper-pagination-progress.swiper-pagination-white {
    background: rgba(255, 255, 255, .5)
}

.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
    background: #fff
}

.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
    background: #000
}
    .swiper-pagination-bullet{border: 1px solid #1da1f2;}
    
    .swiper-pagination-bullet-active{background:#1da1f2}


/* Hovering effect */
.slider-image .image {
  transform-origin: 50% 50%;
  transition: transform 1s, visibility 1s ease-in;
  z-index: 10;
}

/* The Transformation */
.slider-image:hover .image {
  transform: scale(1.3);
}
.swiper-container p{
  font-family: sans-serif;
  font-style: bold;
}


/* hovering effect*/
/* https://www.youtube.com/watch?v=_JvHvGGvps0 */


.image{
  width:300px;
  height:300px;
  display:flex;
  justify-content:center;
  align-items: center;
  text-align:center;
  background-position:center;
  background-size:cover;
  border-radius: 20%;
  box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
  border:2px solid var(--md-box-shadow-color);

  transform:
    perspective(800px)
    rotateY(25deg) scale(0.9)
    rotateX(15deg);
  transition: 0.6s ease all;
}



.image1{
  background-image: url(../assets/learning.png);
} 
.image2{
  background-image: url(../assets/teaching.png);
}

.image3{
  background-image: url(../assets/life.png);

}
.image:hover{
  /* transition:1s; */  
  
  box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2), 0 0 0 300px var(--md-box-shadow-color) inset; 

  transform:
    perspective(800px)
    rotateY(-15deg)
    translateY(-50px)
    rotateX(10deg)
    scale(1);
  filter: blur(0);





}

.image p{
  opacity:0;
  transform:scale(0);
  font-size:2rem;
  color:var(--md-primary-fg-color--dark);





}
.image:hover p{
  opacity: 1;
  transform: scale(1);
  transition: 0.5s ease-in transform;
}



